<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622645542253-65736kkepgcsmbe4djjehrkcl470qr0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622645542253-65736kkepgcsmbe4djjehrkcl470qr0i</string>
	<key>API_KEY</key>
	<string>AIzaSyA4i9WYmN4ayfjIUECPrd-qZfu_CKhr0Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>622645542253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.swu.kanathip.OurNote</string>
	<key>PROJECT_ID</key>
	<string>ournotes-582f3</string>
	<key>STORAGE_BUCKET</key>
	<string>ournotes-582f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622645542253:ios:66af731b3a4b7a33ec2e64</string>
</dict>
</plist>